html {
    body {
        margin: 0;
        padding: 0;
        background: #004385;
        font-family: 'Architects Daughter', cursive;
        display: flex;
        justify-content: center;
        color: #05B2DC;
    }
}


h1 {
  font-family: 'Lobster', cursive;
  text-align: center;
}

h2 {
  text-align: center;
  font-family: 'Architects Daughter', cursive;
  font-weight: bold;
}

.login-view {
  display: flex;
  vertical-align: middle;
  flex-direction: column;
}

.task-view {
  display: flex;
  vertical-align: middle;
  flex-direction: column;
}

input {
  font-family: 'Architects Daughter', cursive;
}
